:root {
  --divDarkBackground: #181818;
}

.divDark {
  background-color: var(--divDarkBackground);
}

#fadeDivDark {
  background: linear-gradient(var(--divDarkBackground), white);
  height:50px;
}

.navbar-toggler-icon {
  color: white !important;
}
